.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


 .font{
  font-family: 'Unbounded', cursive;
}

  .small-font{
    font-family: 'Lato', sans-serif;
  }
  .green-bgd{
    background-color: #9DA993;
  }
  .yellow-bgd{
    background-color: #e9e56f;
  }
  .border-green{
    border-color: #9DA993 ;
  }
  